app-plus.py
__pycache__
notes.txt
test.db
*.ipynb
code/.data/*
code/.results/correlationx/Heisenberg/*
code/.results/correlationx/XXZ/*
code/main
trash.png
trash2.png
templates/correlation_old.html
.ipynb_checkpoints/
*.DS_Store