{% extends 'base.html' %}


{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/validation.js') }}"></script>



<script>
	/************************************
	 ************************************
	 ************ TEMPORARY *************
	 ************************************
	 ************************************/
    $(document).ready(function() {
    	$(“.MathJax”).each(function(i) {
			$(this).attr('tabindex', -1);
			});
    	$(“.MathJax”).each(function(i) {
			$(i).attr('tabindex', -1);
			});
    	$("#T").val("false");
    	$("#L").val(10);
    	$("#Delta").val(1.0);
    	$("#time").val(2);
    	$("#time-tau").val(0.1);
    	$("#chi").val(8);
    });
</script>

</head>
<title> Dynamical Correlation Function </title>

<style>

	#title
	{
		text-align: center;
	}

	.myPlot
	{
		width: 100%;
	}

	.myImage
	{
		width:  95%;
		/*padding-bottom: 30px;*/
	}

	.parameterForm
	{
		/*background-color: LightGray;*/
		padding: 1em 1em 1em 1em;
		position: relative;
		margin: auto;
		width: 77%;
	}

	.tex-label
	{
		padding: 10px 0px 2px 1px;
		margin: 0 7px 0px;
		display: bock;
	}

	.text-label
	{
		padding: 7px 0px 9px 6px;
		margin: 0 0px -13px 0;
	}

	.myAccordion
	{
		width: 85%;
		margin: auto;
	}

	.mySelected
	{
		text-align: center;
	}

	.homeButton
	{
		padding-top: 10px;
	}

	#corrReferences
	{
		width: 85%;
		margin: auto;
		margin-top: 5em;
		line-height:0.75;
		padding-bottom: 50px;
		/*padding: 0 7em 5em 0;*/
	}

</style>

{% endblock %}
{% block body %}

	<h3 id="title"><b> Dynamical Correlation Function </b></h3>

<div class="accordion myAccordion" id="accordionPanelsStayOpenExample">
	<div class="accordion-item">
		<h2 class="accordion-header" id="panelsStayOpen-headingOne">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
				<h5> Overview </h5>
			</button>
		</h2>
		<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
			<div class="accordion-body">
				<h5>
					In this demo, we will look at the quantity
					$$ G(x,t) := \langle S^z_x(t) S^z_0(0) \rangle $$
					for the \(S=1/2\) XXZ chain with Hamiltonian
					$$ H = \sum_i S^z_i S^z_{i+1} + \Delta\left[S^x_i S^x_{i+1} + S^y_i S^y_{i+1}\right]. $$
				</h5>
			</div>
		</div>
	</div>



	<div class="accordion-item">
		<h2 class="accordion-header" id="panelsStayOpen-headingTwo">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
				<h5> Background </h5>
			</button>
		</h2>
		<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
			<div class="accordion-body">
				<p>

					In the XXZ model, the total magnetization
					$$ M := \sum_x S^z_x $$
					is a conserved quantity, and \(G(x,t)\) is the simplest non-trivial object that probes the flow of the spin density corresponding to M. There are three regimes in the XXZ model for the dynamical properties at high temperatures: \(\Delta < 1 \) with ballistic transport, \(\Delta > 1 \) with spin diffusion, and \(\Delta = 1 \) where KPZ hydrodynamics <a href="#refFirstKPZ">[1]</a> is found.
				</p>

				<p>
					This demo displays \(G(x,t)\) as a color plot, as well as the auto-correlation given by \(G(x=0,t)\).
					These different dynamical regimes can be seen in this demo by looking at the color plot generated by the simulation. In the case of ballistic transport, the color plot will show a sharp light-cone like structure, indicating that the excitations move freely. In the case of KPZ and diffusion, there will not be high resolution maximum intensity lines. Distinguishing KPZ and diffusion requires more computational resources than are present in this demo, and I point the interested reader to explore the following references <a href="#refFirstKPZ">[2,</a> <a href="#refFirstKPZ">3,</a> <a href="#refFirstKPZ">4]</a>.
				</p>

				<p>
					For the simulation, you can adjust the system size \(L\), the anisotropy parameter in the Hamiltonian \(\Delta\), the maximum time \(t\), the bond-dimension \(\chi\), and whether to look at the ground state (T=0) or a thermal state (T=\(\infty\)). To have sufficient resolution to see the different structures in the dynamical correlation function, it is recommended to use \(L = 64\), \(t=10\), and \(\chi=8\) in the ground state, or \(L = 32\), \(t=10\), and \(\chi=32\) for a thermal state. The time needed for the code to run scales as \(tL\chi^3\), so it may take up to a few mintues to run a task that has not been calculated previously.
				</p>
			</div>
		</div>
	</div>


	<div class="accordion-item">
		<h2 class="accordion-header" id="panelsStayOpen-headingThree">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true" aria-controls="panelsStayOpen-collapseThree">
				<h5> Simulation parameters </h5>
			</button>
		</h2>
		<div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingThree">
			<div class="accordion-body">

				<form class="parameterForm needs-validation" method="POST" novalidate>
					<div class="input-group flex-nowrap mb-3">
						<div class="row">

							<div class="col-4">
								<label for="T" class="text-label" for="inputGroupSelect01">Temperature</label>
								<select class="form-select" id="T" name="thermal" tabindex="1" required>
									<option selected disabled value="" class="mySelected"> </option>
									<option value="false"> 0 (Ground state) </option>
									<option value="true"> \(\infty\) (Thermal state) </option>
								</select>
								<div class="invalid-feedback">
							    	Please select a temperature.
							    </div>
							</div>

							<div class="col">
								<label for="L" class="text-label"> L</label>
						  		<input type="number" class="form-control" placeholder="64" aria-label="L" name="N" id="L" step="1" min="2" max="64" tabindex="1" required>
						  		<div class="invalid-feedback">
							     	Please provide an integer between 2 and 64.
							    </div>
							</div>

							<div class="col">
								<label for="Delta" class="tex-label"> \(\Delta\) </label>
								<input type="number" class="form-control" placeholder="1" aria-label="Delta" name="Delta" id="Delta" step="any" tabindex="1" required>
								<div class="invalid-feedback">
							     	Please provide a numerical value.
							    </div>
						    </div>

						    <div class="col">
								<label for="time" class="text-label"> time </label>
								<input type="number" class="form-control" placeholder="10" aria-label="time" name="time" id="time" max="50" min="0" step="any" tabindex="1" required>
								<div class="invalid-feedback">
							     	Please provide a non-negative number less than 50.
							    </div>
							</div>

							<div class="col">
								<label for="chi" class="tex-label"> \(\chi\) </label>
								<input type="number" class="form-control" placeholder="16" aria-label="chi" name="MaxDim" id="chi" max="32" min="1" tabindex="1" required>
								<div class="invalid-feedback">
							     	Please provide an integer between 1 and 32.
							    </div>
						    </div>
						</div>

					</div>
					<div class="form-row">
				  		<div class="col">
				  			<button id="submit-btn" class="btn btn-primary" type="submit">Run</button>
				  		</div>
				  	</div>
				</form>

			</div>
		</div>
	</div>




	<div class="accordion-item">
		<h2 class="accordion-header" id="panelsStayOpen-headingFour">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true" aria-controls="panelsStayOpen-collapseFour">
				<h5> Results </h5>
			</button>
		</h2>
		<div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingFour">
			<div class="accordion-body">
				<div class="container myImage">
					<div class="row align-items-center">
						<div class="col-md-6">
							<img class="myPlot rounded float-left img-fluid" src="{{url_cor}}">
						</div>
						<div class="col-md-6">
							<img class="myPlot rounded float-right img-fluid" src="{{url_auto}}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="col homeButton" id="home">
		<a id="home-btn" class="btn btn-secondary" href="/" role="button">Home</a>
	</div>

</div>


<div id="CorrReferences">
	<h4> References: </h4>
	<p></p>

	<p id="refFirstKPZ">[1] <a></a><A HREF = "https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.56.889" target="_blank"> 
		Kardar, M. <i>et. al.</i> Dynamic Scaling of Growing Interfaces. <i>Phys. Rev. Lett.</i> 56, 889–892  (1986).
	</A></p>
	<p id="refKPZHeisenberg">[2] <a></a><A HREF = "https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.122.210602" target="_blank"> 
		Ljubotina, M. <i>et. al.</i> Kardar-Parisi-Zhang Physics in the Quantum Heisenberg Magnet. <i>Phys. Rev. Lett.</i> 122, 210602. (2019).
	</A></p>
	<p id="refSpinDynamics">[3] <a></a><A HREF = "https://journals.aps.org/prb/abstract/10.1103/PhysRevB.101.121106" target="_blank">
		Dupont, M., & Moore, J. Universal spin dynamics in infinite-temperature one-dimensional quantum magnets. Phys. Rev. B, 101, 121106. (2020).
	</A></p>
	<p id="refNatureKPZ">[4] <a></a><A HREF = "https://www.nature.com/articles/s41567-021-01191-6" target="_blank"> 
		Scheie, A. <i>et. al.</i> Detection of Kardar–Parisi–Zhang hydrodynamics in a quantum Heisenberg spin-1/2 chain. <i>Nat. Phys.</i> 17, 726–730 (2021).
	</A></p>

</div>

	

{% endblock %}