{% extends 'base.html' %}


{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/validation.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/adv_params.js') }}"></script>
<title> Correlation Function </title>

<style>

	.myImage
	{
		padding-bottom: 30px;
	}

	#home
	{
		text-align: right;
	}

	#advCheckGroup
	{
		margin-top: 0px;
		margin-bottom: -10px;
	}

	#HamiltonianEq
	{
		padding: 0em 0 0 0;
	}

	.form-group
	{
		padding: 1em 1em 1em 1em;
		background-color: AliceBlue;
		margin: 1em 0 1em 0;
	}

	.form-control
	{
		margin-bottom: 3px;
	}

	.tex-label
	{
		padding: 10px 0px 2px 0;
		margin: 0 7px 0px;
	}

	.text-label
	{
		padding: 7px 0px 8px 5px;
		margin: 0 0px -13px 0;
	}

	.parameterForm
	{
		background-color: LightGray;
		padding: 1em 1em 1em 1em;
		position: relative;
		margin: auto;
		width: 77%;
	}

	.myPlot
	{
		width: 100%;
	}

	#advCheck
	{
		margin-top: 1px;
	}

</style>

{% endblock %}
{% block body %}

	<h4>
		Dynamical Correlation Function
	</h4>
	<p>
		In this demo, we will look at the quantity
		$$ G(x,t) := \langle S^z_x(t) S^z_0(0) \rangle \quad ; \quad S^z_x(t) = e^{iHt}S^z_x e^{-iHt}$$
		for the XXZ model with Hamiltonian
		$$ H = \sum_i S^z_i S^z_{i+1} + \Delta\left[S^x_i S^x_{i+1} + S^y_i S^y_{i+1}\right]. $$
		In this model, the total magnetization
		$$ M := \sum_x S^z_x $$
		is a conserved quantity, and \(G(x,t)\) is the simplest non-trivial object that probes the flow of the spin density corresponding to M.
	</p>

	<p>
		There are three regimes in the XXZ model for the dynamical properties at high temperatures: \(\Delta < 1 \) with ballistic transport, \(\Delta > 1 \) with spin diffusion, and \(\Delta = 1 \) where KPZ hydrodynamics is found [CITE].
		These different dynamical behaviors can be observed in the exponent of the time dependence of the auto-correlation function
		$$ G(x=0,t) \sim t^{-1/z}$$
		with \(z=1\) indicating ballistic transport, \(z=2\) diffusion, and \(z=3/2\) KPZ. This demo will display \(G(x,t)\) as a color plot, and \(G(x=0,t)\) for either the ground state (T=0), or at infinite temperature.
	</p>
	<form class="parameterForm" method="POST" novalidate>

		<div class="form-group border border-light rounded" id="model">
			<h3> Model Parameters </h3>
			<div class="form-row">
			    <!-- <div class="col">
			    	<label class="text-label"> Lattice </label>
			    	<select class="form-control form-control-sm" name="Lattice">
						<option selected>Chain</option>
						<option>Square</option>
						<option>Triangular</option>
    				</select>
			    </div> -->
			    <!-- <div class="col" id="siteCol">
			    	<label class="text-label">Site</label>
					<select class="form-control form-control-sm" name="SiteSet">
						<option selected>Spin-1/2</option>
						<option>Spin-1</option>
						<option>Fermion</option>
						<option>Boson</option>
		    		</select>
		    	</div> -->
			    <!-- <div class="col">
			    	<label class="text-label"> Hamiltonian </label>
			    	<select class="form-control form-control-sm" name="Model">
						<option>XXZ</option>
						<option>Heisenberg</option>
						<option></option>
		    		</select>
			    </div> -->
			</div>

			<div class="form-row">
			    <div class="col">
			    	<label class="text-label">L</label>
					<input type="number" class="form-control form-control-sm" placeholder="16" name="N" id="L" min="2" step="1" max="64" required>
					<div class="invalid-feedback">
			    		Please provide an integer between 2 and 64.
			    	</div>
		    	</div>
		    	<div class="col">
			    	<label class="tex-label">\(\Delta\)</label>
					<input type="number" class="form-control form-control-sm" placeholder="1.0" name="Delta" id="Delta" step="any" required>
					<div class="invalid-feedback">
			    		Please provide a numeric value.
			    	</div>
		    	</div>
			</div>
	  	</div>
	  	<h3 id="HamiltonianEq" style="text-align: center"> \( H = \sum_i S^z_i S^z_{i+1} + \Delta\left[S^x_i S^x_{i+1} + S^y_i S^y_{i+1}\right] \)</h3>

	  	<div class="form-group border border-light rounded">
			<h3> Simulation Parameters </h3>
			<div class="form-row">
			    <div class="col" id="state-col">
			    	<label class="text-label">Temperature</label>
					<select class="form-control form-control-sm" name="state">
						<option> 0 (Ground state) </option>
						<option> \(\infty\) (Thermal state)</option>
		    		</select>
		    	</div>
			    <div class="col" id="time-col">
			    	<label class="text-label"> time </label>
					<input type="number" class="form-control form-control-sm" placeholder="10.0" name="time" id="time" max="20" step="any" required>
					<div class="invalid-feedback">
			    		Please provide a numerical value.
			    	</div>
		    	</div>
		    	<div class="col" id="time-col">
			    	<label class="text-label"> time-tau </label>
					<input type="number" class="form-control form-control-sm" placeholder="0.1" name="time-tau" id="time-tau" step="any" required>
					<div class="invalid-feedback">
			    		Please provide a numerical value.
			    	</div>
		    	</div>
		    	<div class="col">
			    	<label class="tex-label">\(\chi\)</label>
					<input type="number" class="form-control form-control-sm" placeholder="16" name="MaxDim" id="chi" min="1" max="32" step="1" required>
					<div class="invalid-feedback">
			    		Please provide an integer between 1 and 16.
			    	</div>
		    	</div>
		    	<div class="col" id="method-col">
			    	<label class="text-label">Time evolution algorithm</label>
					<select class="form-control form-control-sm" name="Evolver">
						<option> TEBD </option>
						<option> TDVP </option>
		    		</select>
		    	</div>
			</div>
	  	</div>

	  	<!-- <div class="form-group border border-light rounded" id="advParams">
	  		<div class="form-check" id="advCheckGroup">
				<input class="form-check-input" type="checkbox" value="adv" id="advCheck">
				<h6> Advanced Parameters </h6>
        	</div>
			<div class="adv">
				<div class="form-row">
				    <div class="col" id="state-col">
				    	<label class="text-label"> numCenter </label>
						<select class="adv form-control form-control-sm" id="numCenter" name="numCenter">
							<option> 1 </option>
							<option selected> 2 </option>
			    		</select>
			    	</div>
			    	<div class="col" id="time-col">
				    	<label class="text-label"> time step </label>
						<input type="number" class="form-control form-control-sm" name="time-tau" id="time-tau" value="0.1" step="any" required>
						<div class="invalid-feedback">
				    		Please provide a numerical value
				    	</div>
		    		</div>
		    		<div class="col" id="state-col">
				    	<label class="text-label"> force new run </label>
						<select class="adv form-control form-control-sm" id="force" name="force">
							<option> True </option>
							<option selected> False </option>
			    		</select>
			    	</div>
				</div>
			</div>
	  	</div> -->

	  	<div class="form-row">
	  		<div class="col">
	  			<button id="submit-btn" class="btn btn-primary" type="submit">Run</button>
	  		</div>
  			<div class="col" id="home">
  				<a id="home-btn" class="btn btn-link" href="/" role="button">Home</a>
  			</div>
	  	</div>
	  	
	</form>

	<div class="container myImage">
		<div class="row">
			<div class="col">
				<img class="myPlot rounded float-left" src="{{url_cor}}" class="img-fluid" alt="Responsive image">
			</div>
			<div class="col">
				<img class="myPlot rounded float-right" src="{{url_auto}}" class="img-fluid" alt="Responsive image">
			</div>
		</div>
	</div>
	
<script>
	/************************************
	 ************************************
	 ************ TEMPORARY *************
	 ************************************
	 ************************************/
    $(document).ready(function() {
    	$("#L").val(64);
    	$("#Delta").val(1.0);
    	$("#time").val(10);
    	$("#time-tau").val(0.1);
    	$("#chi").val(8);
    });
</script>




	



{% endblock %}