{% extends 'base.html' %}



{% block head %}
<title>Task Master</title>
<script>
	$("document").ready(function()
	{
		$("#textBox").on("click" , whenMouseIsClicked);
		$("#textBox").on("mouseleave" , whenMouseLeaves);

		function whenMouseIsClicked()
		{
			$("#textBox").html("<h1>You clicked me! </h1>");
		}

		function whenMouseLeaves()
		{
			$("#textBox").html("<h1>You left me with your mouse! </h1>");
		}


	});
</script>


<style>
	#textBox
	{
		margin: 0 auto;
		width: 250px;
		height: 250px;
		border: 1px solid black;
		background-color: aliceblue;
	}

</style>

{% endblock %}
{% block body %}
	<div class="content">
	    <h1 style="text-align: center">Task Master</h1>
	    <h1 style="text-align: center">h1000</h1>
	    {% if tasks|length < 1 %}
	    <h4 style="text-align: center">There are no tasks. Create one below!</h4>
	    {% else %}
	    <table id="myTable">
	        <tr>
	            <th>Task</th>
	            <th>Added</th>
	            <th>Actions</th>
	        </tr>
	        {% for task in tasks %}
	            <tr>
	                <td>{{ task.content }}</td>
	                <td>{{ task.date_created.date() }}</td>
	                <td>
	                    <a href="/delete/{{task.id}}">Delete</a>
	                    <br>
	                    <a href="/update/{{task.id}}">Update</a>
	                </td>
	            </tr>
	        {% endfor %}
	    </table>
	    {% endif %}

	    <div class="form">
	        <form action="/" method="POST">
	            <input type="text" name="content" id="content">
	            <input type="submit" value="Add Task">
	        </form>
	    </div>
	    <a href="/image">image</a>
	</div>
	<div id="textBox">
		
	</div>




{% endblock %}